In [1]:
import pandas as pd
import numpy as np

In [2]:
from pathlib import Path

PATH = Path('/data/churn/')
list(PATH.iterdir())

[PosixPath('/data/churn/train_v2.csv'),
 PosixPath('/data/churn/user_logs_v2.csv'),
 PosixPath('/data/churn/transactions.csv'),
 PosixPath('/data/churn/WSDMChurnLabeller.scala'),
 PosixPath('/data/churn/user_logs.csv'),
 PosixPath('/data/churn/transactions_v2.csv'),
 PosixPath('/data/churn/members_v3.csv'),
 PosixPath('/data/churn/train.csv'),
 PosixPath('/data/churn/sample_submission_v2.csv'),
 PosixPath('/data/churn/sample_submission_zero.csv')]

In [33]:
!cd /data/churn && wc

^C

In [9]:
train_1 = pd.read_csv(PATH/'train.csv')
train_2 = pd.read_csv(PATH/'train_v2.csv')
all_train = pd.concat([train_1, train_2], axis = 0)
all_train.shape

(1963891, 2)

In [11]:
all_train.to_csv(PATH/'all_train.csv', index = False)

In [3]:
trans_1 = pd.read_csv(PATH/'transactions.csv')
trans_2 = pd.read_csv(PATH/'transactions_v2.csv')

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
trans_1.head()
trans_2.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=,32,90,298,298,0,20170131,20170504,0
1,++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=,41,30,149,149,1,20150809,20190412,0
2,+/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=,36,30,180,180,1,20170303,20170422,0
3,+/w1UrZwyka4C9oNH3+Q8fUf3fD8R3EwWrx57ODIsqk=,36,30,180,180,1,20170329,20170331,1
4,+00PGzKTYqtnb65mPKPyeHXcZEwqiEzktpQksaaSC3c=,41,30,99,99,1,20170323,20170423,0

In [7]:
all_trans = pd.concat([trans_1, trans_2], axis = 0)
all_trans.shape

(22978755, 9)

In [8]:
all_trans.to_csv(PATH/'all_trans.csv', index = False)

In [10]:
members = pd.read_csv(PATH/'members_v3.csv')
members.head()

,msno,city,bd,gender,registered_via,registration_init_time
0,Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=,1,0,NaN,11,20110911
1,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,NaN,7,20110914
2,cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=,1,0,NaN,11,20110915
3,9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=,1,0,NaN,11,20110915
4,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,6,32,female,9,20110915

In [12]:
!pip install -U featuretools

Collecting featuretools
  Downloading https://files.pythonhosted.org/packages/3e/42/bd5484da6991cea6c696f1a12f910f8cc45445e1147e208dd6fe92f12a69/featuretools-0.3.0.tar.gz (142kB)
    100% |████████████████████████████████| 143kB 6.2MB/s eta 0:00:01
Requirement already up-to-date: numpy>=1.13.3 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from featuretools)
Requirement already up-to-date: pandas>=0.23.0 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from featuretools)
Collecting s3fs>=0.1.2 (from featuretools)
  Downloading https://files.pythonhosted.org/packages/53/69/7e14a5a883a74a469b5edca792ff0eab168b4a0531e9f49f486c0e23ebfb/s3fs-0.1.6.tar.gz (45kB)
    100% |████████████████████████████████| 51kB 11.3MB/s ta 0:00:01
Requirement already up-to-date: tqdm>=4.19.2 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from featuretools)
Cache entry deserialization failed, entry ignored
Requirement already up-to-date: toolz>=0.8.2 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from featuretools)
Requirement already up-to-date: pyyaml>=3.12 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from featuretools)
Cache entry deserialization failed, entry ignored
Collecting cloudpickle>=0.4.0 (from featuretools)
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/3e/41/cf788c011bff0ccf651fea2014450547213a03b3535a0f1bf813bf119aaf/cloudpickle-0.5.5-py2.py3-none-any.whl
Collecting future>=0.16.0 (from featuretools)
  Downloading https://files.pythonhosted.org/packages/00/2b/8d082ddfed935f3608cc61140df6dcbf0edea1bc3ab52fb6c29ae3e81e85/future-0.16.0.tar.gz (824kB)
    100% |████████████████████████████████| 829kB 1.6MB/s eta 0:00:01
Collecting pympler>=0.5 (from featuretools)
  Downloading https://files.pythonhosted.org/packages/d4/5b/73d780a6b3939a8a53fc6db85a8d9eb41be718e7185f6cea534dbd1e1657/Pympler-0.6.tar.gz (174kB)
    100% |████████████████████████████████| 184kB 7.2MB/s eta 0:00:01
Collecting dask>=0.17.5 (from featuretools)
  Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/ea/e7/f01b2e72b4c235ee23c7730424b7bb0b36f1e93c90c129a8a14d7984ba5f/dask-0.19.1-py2.py3-none-any.whl (655kB)
    100% |████████████████████████████████| 665kB 2.1MB/s eta 0:00:01
Collecting distributed>=1.21.8 (from featuretools)
  Downloading https://files.pythonhosted.org/packages/22/8e/372a903d34f05887625c7c1981b71d32a98ddcfe5cf16e8972a2fc4986d5/distributed-1.23.1-py2.py3-none-any.whl (498kB)
    100% |████████████████████████████████| 501kB 2.7MB/s eta 0:00:01
Collecting psutil (from featuretools)
  Downloading https://files.pythonhosted.org/packages/7d/9a/1e93d41708f8ed2b564395edfa3389f0fd6d567597401c2e5e2775118d8b/psutil-5.4.7.tar.gz (420kB)
    100% |████████████████████████████████| 430kB 3.2MB/s eta 0:00:01
Requirement already up-to-date: pytz>=2011k in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from pandas>=0.23.0->featuretools)
Requirement already up-to-date: python-dateutil>=2.5.0 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from pandas>=0.23.0->featuretools)
Collecting botocore (from s3fs>=0.1.2->featuretools)
  Downloading https://files.pythonhosted.org/packages/a9/3f/fecf78a1f4a495531eaab3cb386a33a32ae26371261bf39e030003dc05de/botocore-1.12.0-py2.py3-none-any.whl (4.7MB)
    100% |████████████████████████████████| 4.7MB 302kB/s eta 0:00:01
Collecting boto3 (from s3fs>=0.1.2->featuretools)
  Downloading https://files.pythonhosted.org/packages/44/bf/e287410bc16b38b3e02853b7ca8af0f602a5075af5c8c77f50ec5339f034/boto3-1.9.0-py2.py3-none-any.whl (128kB)
    100% |████████████████████████████████| 133kB 9.6MB/s eta 0:00:01
Requirement already up-to-date: six in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from distributed>=1.21.8->featuretools)
Collecting msgpack (from distributed>=1.21.8->featuretools)
  Downloading https://files.pythonhosted.org/packages/22/4e/dcf124fd97e5f5611123d6ad9f40ffd6eb979d1efdc1049e28a795672fcd/msgpack-0.5.6-cp36-cp36m-manylinux1_x86_64.whl (315kB)
    100% |████████████████████████████████| 317kB 4.3MB/s eta 0:00:01
Requirement already up-to-date: tornado>=4.5.1 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from distributed>=1.21.8->featuretools)
Requirement already up-to-date: zict>=0.1.3 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from distributed>=1.21.8->featuretools)
Collecting sortedcontainers!=2.0.0,!=2.0.1 (from distributed>=1.21.8->featuretools)
  Downloading https://files.pythonhosted.org/packages/be/e3/a065de5fdd5849450a8a16a52a96c8db5f498f245e7eda06cc6725d04b80/sortedcontainers-2.0.5-py2.py3-none-any.whl
Requirement already up-to-date: tblib in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from distributed>=1.21.8->featuretools)
Cache entry deserialization failed, entry ignored
Requirement already up-to-date: click>=6.6 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from distributed>=1.21.8->featuretools)
Collecting urllib3<1.24,>=1.20 (from botocore->s3fs>=0.1.2->featuretools)
  Downloading https://files.pythonhosted.org/packages/bd/c9/6fdd990019071a4a32a5e7cb78a1d92c53851ef4f56f62a3486e6a7d8ffb/urllib3-1.23-py2.py3-none-any.whl (133kB)
    100% |████████████████████████████████| 143kB 9.4MB/s eta 0:00:01
Requirement already up-to-date: jmespath<1.0.0,>=0.7.1 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from botocore->s3fs>=0.1.2->featuretools)
Requirement already up-to-date: docutils>=0.10 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from botocore->s3fs>=0.1.2->featuretools)
Requirement already up-to-date: s3transfer<0.2.0,>=0.1.10 in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from boto3->s3fs>=0.1.2->featuretools)
Requirement already up-to-date: heapdict in /home/ubuntu/anaconda3/lib/python3.6/site-packages (from zict>=0.1.3->distributed>=1.21.8->featuretools)
Building wheels for collected packages: featuretools, s3fs, future, pympler, psutil
  Running setup.py bdist_wheel for featuretools ... done
  Stored in directory: /home/ubuntu/.cache/pip/wheels/d3/80/28/55542e24d99bc92c784cbd8880f26145cb5f4f06e2a423cb64
  Running setup.py bdist_wheel for s3fs ... done
  Stored in directory: /home/ubuntu/.cache/pip/wheels/71/5d/ed/77e5b8e4a26dc4f5436f7b729f3de92eb7fa4febef04f2d042
  Running setup.py bdist_wheel for future ... done
  Stored in directory: /home/ubuntu/.cache/pip/wheels/bf/c9/a3/c538d90ef17cf7823fa51fc701a7a7a910a80f6a405bf15b1a
  Running setup.py bdist_wheel for pympler ... done
  Stored in directory: /home/ubuntu/.cache/pip/wheels/f7/33/29/02f848ccc7dbb272c8e0fa7e37f25cbdc3d16885106208f809
  Running setup.py bdist_wheel for psutil ... done
  Stored in directory: /home/ubuntu/.cache/pip/wheels/e2/9d/ea/1913d16f19bb927c32197308dec69cd8d10b61be8f7e265524
Successfully built featuretools s3fs future pympler psutil
Installing collected packages: urllib3, botocore, boto3, s3fs, cloudpickle, future, pympler, dask, msgpack, sortedcontainers, psutil, distributed, featuretools
  Found existing installation: urllib3 1.22
    Uninstalling urllib3-1.22:
      Successfully uninstalled urllib3-1.22
  Found existing installation: botocore 1.10.82
    Uninstalling botocore-1.10.82:
      Successfully uninstalled botocore-1.10.82
  Found existing installation: boto3 1.7.82
    Uninstalling boto3-1.7.82:
      Successfully uninstalled boto3-1.7.82
  Found existing installation: s3fs 0.1.5
    Uninstalling s3fs-0.1.5:
      Successfully uninstalled s3fs-0.1.5
  Found existing installation: cloudpickle 0.5.2
    Uninstalling cloudpickle-0.5.2:
      Successfully uninstalled cloudpickle-0.5.2
  Found existing installation: dask 0.16.1
    Uninstalling dask-0.16.1:
      Successfully uninstalled dask-0.16.1
  Found existing installation: sortedcontainers 1.5.9
    Uninstalling sortedcontainers-1.5.9:
      Successfully uninstalled sortedcontainers-1.5.9
  Found existing installation: psutil 5.4.3
    Uninstalling psutil-5.4.3:
      Successfully uninstalled psutil-5.4.3

  Found existing installation: distributed 1.20.2
    Uninstalling distributed-1.20.2:
      Successfully uninstalled distributed-1.20.2
Successfully installed boto3-1.9.0 botocore-1.12.0 cloudpickle-0.5.5 dask-0.19.1 distributed-1.23.1 featuretools-0.3.0 future-0.16.0 msgpack-0.5.6 psutil-5.4.7 pympler-0.6 s3fs-0.1.6 sortedcontainers-2.0.5 urllib3-1.23
You are using pip version 9.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

## Approach to EntitySet

* Members is the parent
* Transactions is a child
* User logs is another child

Partition data based no user ids, `msno`.

In [14]:
all_train['msno'].nunique()

1082190

In [15]:
len(all_train)

1963891

In [16]:
all_train.head()

                                           msno  is_churn
0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1
2  fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=         1
3  mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=         1
4  XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=         1

In [18]:
all_train.groupby(['msno'])['is_churn'].nunique().to_frame().sort_values('is_churn').tail()

                                              is_churn
msno
VLmKab6JByryjhBzawWgIXnsDn/p8gtuKNUDEIrALIw=         2
PX+bAAD+a5wZ0qGOiZbydu8SNbFZrhiCjz+z0q6jlLM=         2
ArZiQi90rqg0aBc5YeXAm6ux0CkHlyziFa03DKAtjVc=         2
3x8Nugz7JdfTmexKza79oBIly8isF7PTReWCXyAr9QU=         2
DeskHs66YWKq1JhCzVtfj0z8P5B+Y2Xrtu0mByqUufQ=         2

In [19]:
all_trans.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

In [20]:
all_trans['msno'].nunique()

2426143

# Using Dask Dataframe for Large Datasets

In [21]:
from dask import dataframe as dd

logs1 = dd.read_csv(PATH/'user_logs.csv')

Calling a method or attribute of a Dask dataframe does not return the value, instead it creates a future that will be executed at a later time. In order to actually execute the task, we have to call the compute method.

In [31]:
shape1 = logs1.shape[0]
shape1.compute()

392106543

In [32]:
logs2 = dd.read_csv(PATH/'user_logs_v2.csv')
shape2 = logs2.shape[0]
shape2.compute()

18396362

In [36]:
logs1['msno'].nunique().compute()

5234111

In [37]:
logs2['msno'].nunique().compute()

1103894

In [49]:
all_logs = dd.concat([logs1, logs2], axis = 0)

In [38]:
sub1 = pd.read_csv(PATH/'sample_submission_zero.csv')
sub2 = pd.read_csv(PATH/'sample_submission_v2.csv')
all_subs = pd.concat([sub1, sub2], axis = 0)
all_subs['msno'].nunique()

1076941

In [39]:
all_msno = list(all_subs['msno'].unique()) + list(all_train['msno'].unique())
print(f'There are {len(all_msno)} unique ids in the training and testing data.')

There are 2159131 unique ids in the training and testing data.

In [43]:
n_chunks = 1000
chunk_size = len(all_msno) // (n_chunks - 1)

In [45]:
id_list = [list(all_msno[i:i+chunk_size]) for i in range(0, len(all_msno), chunk_size)]
len(id_list)

1000

In [47]:
from itertools import chain
all_ids = list(chain(*id_list))
len(all_ids)

2159131

In [48]:
all_ids == all_msno

True

In [56]:
logs_subset = all_logs.loc[all_logs['msno'].isin(id_list[0]), :].copy().compute()

In [52]:
import os

partition = 0
id_section = id_list[0]
directory = PATH/f'partitions/p{partition}'

os.makedirs(directory, exist_ok=True)

In [57]:
logs_subset = all_logs.loc[all_logs['msno'].isin(id_section), :].copy().compute()
trans_subset = all_trans.loc[all_trans['msno'].isin(id_section), :].copy()
members_subset = members.loc[members['msno'].isin(id_section), :].copy()
train_subset = all_train.loc[all_train['msno'].isin(id_section), :].copy()
test_subset = all_subs.loc[all_subs['msno'].isin(id_section), :].copy()

In [58]:
logs_subset.to_csv(f'{directory}/logs.csv', index = False)
trans_subset.to_csv(f'{directory}/transactions.csv', index = False)
members_subset.to_csv(f'{directory}/members.csv', index = False)
train_subset.to_csv(f'{directory}/train.csv', index = False)
test_subset.to_csv(f'{directory}/test.csv', index = False)

In [59]:
os.listdir(directory)

['transactions.csv', 'members.csv', 'test.csv', 'train.csv', 'logs.csv']

In [61]:
!wc --help

Usage: wc [OPTION]... [FILE]...
  or:  wc [OPTION]... --files0-from=F
Print newline, word, and byte counts for each FILE, and a total line if
more than one FILE is specified.  A word is a non-zero-length sequence of
characters delimited by white space.

With no FILE, or when FILE is -, read standard input.

The options below may be used to select which counts are printed, always in
the following order: newline, word, character, byte, maximum line length.
  -c, --bytes            print the byte counts
  -m, --chars            print the character counts
  -l, --lines            print the newline counts
      --files0-from=F    read input from the files specified by
                           NUL-terminated names in file F;
                           If F is - then read names from standard input
  -L, --max-line-length  print the maximum display width
  -w, --words            print the word counts
      --help     display this help and exit
      --version  output version information and exit

GNU coreutils online help: <http://www.gnu.org/software/coreutils/>
Full documentation at: <http://www.gnu.org/software/coreutils/wc>
or available locally via: info '(coreutils) wc invocation'

In [62]:
!cd /data/churn/partitions/p0 && wc -c -l

^C

In [67]:
def create_partition(id_section: list, partition: int) -> None:
    """Create a partition from a list of ids. Save to disk using the partition number."""
    
    # Log subset must be computed because it is a dask dataframe
    logs_subset = all_logs.loc[all_logs['msno'].isin(id_section), :].copy().compute()
    # All other subsets can simply be selected
    trans_subset = all_trans.loc[all_trans['msno'].isin(id_section), :].copy()
    members_subset = members.loc[members['msno'].isin(id_section), :].copy()
    train_subset = all_train.loc[all_train['msno'].isin(id_section), :].copy()
    test_subset = all_test.loc[all_test['msno'].isin(id_section), :].copy()
    
    # Make the partition directory
    directory = PATH/f'partitions/p{partition}'
    os.makedirs(directory, exist_ok = True)
    
    # Save the subset to disk
    logs_subset.to_csv(f'{directory}/logs.csv', index = False)
    trans_subset.to_csv(f'{directory}/transactions.csv', index = False)
    members_subset.to_csv(f'{directory}/members.csv', index = False)
    train_subset.to_csv(f'{directory}/train.csv', index = False)
    test_subset.to_csv(f'{directory}/test.csv', index = False)
    
    # Progress
    if partition % 10 == 0:
        print(f'Partition {partition} saved to {directory}.')

In [68]:
from timeit import default_timer as timer

In [ ]:
start = timer()
for i, id_subset in enumerate(id_list):
    create_partition(id_subset, i)
end = timer()
print(f'{round(end - start)} seconds elapsed.')